.section {
    &__block--radio {
        display: flex;
        gap: 20px;
    }
}
.radio {
    position: relative;
    &__input {
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        &:checked + .radio__lable::before {
            border: 6px solid $blueColor;
        }
    }
    &__lable {
        @include lable;
        padding-left: 28px;
        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $lightGrayColor;
            transition: border .3s ease;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
