// font size
$baseFontSize: 16px;

// font family
$robotoFont: 'Roboto', sans-serif;
$interFont: 'Inter', sans-serif;

// COLORS
$blueColor: #007BFF;
$whiteColor: #fff;
$nearlyWhiteColor: #F7F7F7;
$lightGrayColor: #E4E4E4;
$grayColor: #969696;
$darkGrayColor: #545454;
$blackColor: #1C1C1C;